@import '~material-icons/iconfont/material-icons.css';

:root {

  --main-color: #64969e;

  --text-color: #fff8e5;
  
  --main-font: Major Mono Display;
  --secondary-font: Montserrat;
  --score-font: Share Tech Mono;

  --width: 45%;
  --margin: 2.5%
  /*---------------------------------------------*/
}
html {
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
body {
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute
}

div {
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    position: relative;
}

#scoreSpan {
    font-size: 1.5vw; 
    color: var(--text-color); 
    font-family: var(--score-font);
    padding: 0.5%;
    position: fixed;
    text-align: center;
    background-color: rgba(71, 126, 223, 0.5);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    top: 1%;
    left: 1%;
    
}

#reticle {
    font-size: 25px;
    color: #fff8e5;
    position: fixed;
    opacity: 0.9;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff8e5;
    border-radius:10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bfbcf4;
    border-radius:10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9995ee;
}


#title {
    font-size: 8vw;
    width: 43%;
    color: var(--text-color);
    text-align: left;
    background-color: rgba(71, 126, 223, 0.5);
    border: 2.5px solid var(--text-color);
    border-radius: 10px;
    padding-left: 2%;
    font-family: var(--main-font); 
    position: absolute;
    left: var(--margin);
    top: var(--margin);
}

#playButton {
    font-size: 4vw;
    width: var(--width);
    padding: 10px; 
    background-color:rgba(153, 149, 238, 0.5);
    border: 2.5px solid var(--text-color);
    border-radius: 10px;
    color: var(--text-color);  
    outline: none !important;
    margin: 5px;
    font-family: var(--main-font);
    cursor: pointer;
    position: absolute;
    left: var(--margin);
    top: 45%;
}
#playButton.active, #playButton:active {
    background-color: #9995ee; 
}

#instButton {
    font-size: 4vw;
    width: var(--width);
    padding: 10px; 
    background-color: rgba(191, 188, 244, 0.5);
    color: var(--text-color);  
    outline: none !important;
    border: 2.5px solid var(--text-color);
    border-radius: 10px;
    margin: 5px;
    font-family: var(--main-font);
    cursor: pointer;
    position: absolute;
    left: var(--margin);
    top: 65%;
}
#instButton.active, #instButton:active {
    background-color: #bfbcf4;
}

#creditsButton {
    font-size: 4vw;
    width: var(--width);
    padding: 10px; 
    background-color: rgba(183, 145, 203, 0.5);
    color: var(--text-color);  
    outline: none !important;
    border: 2.5px solid var(--text-color);
    border-radius: 10px;
    margin: 5px;
    font-family: var(--main-font); 
    cursor: pointer;
    position: absolute;
    left: var(--margin);
    bottom: var(--margin);
}
#creditsButton.active, #creditsButton:active {
    background-color: #b791cb;
}

.infoSpan {
    font-size: 2.5vw;
    height: 91.25%;
    width: var(--width);
    text-align: left;
    color: var(--text-color);  
    background-color: rgba(71, 126, 223, 0.5);
    border: 2.5px solid var(--text-color);
    border-radius: 15px;
    padding: 10px;
    font-family: var(--secondary-font); 
    position: absolute;
    left: 50%;
    top: var(--margin);
    overflow-y: scroll;
}
